body{
    background-image:   url("/images/cloak.jpg");/* Replace 'your-image.jpg' with the URL or path to your background image */
    background-size: cover;
    background-color: #973737;
    background-attachment: fixed;
    background-position: center;
    animation: zoomInOut 10s infinite alternate; /* Adjust the duration (10s) and other properties as needed */
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05); /* Adjust the scale factor (1.05) for zoom level */
    }
}
